.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 10%;

  .logo {
    display: flex;
    flex-grow: .2;
  }

  .navbar {
    display: flex;
    flex-grow: .6;
    justify-content: space-around;
  }

  .social-networks {
    display: flex;
    flex-grow: .2;
    justify-content: space-around;
  }
}
