.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 5%;

  .logo {
    display: flex;
    flex-grow: .2;
  }

  .navbar {
    display: flex;
    flex-grow: .6;
    justify-content: space-around;
  }


  .hamburger {
    display: none;
  }
}

.social-networks {
  display: flex;
  flex-grow: .2;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .header {
    justify-content: space-between;

    .navbar, .social-networks {
      display: none !important;
    }
  }
  .hamburger {
    display: initial !important;
  }
}

